.gridRow {
    border: 1px solid black;


}

#container{
    background-color: aqua;
    width: 960px;
    height: 360px;
}

.cell {
    border: 1px solid gray;
    min-width: 10px;
    min-height: 20px;
    display: inline-block;
  }


  .my-color-class {
    background-color: blue;
  }
  